/*html {
     background-color: #e8ecef;
 }*/
 
 body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 7rem;
    border: 1px solid #f7f5c9;
    
}

.screen {
    background-color: #78909c;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}
p {
    color: white;
    font-size: 14px;
}
.num45 {
    font-size: 25px;
    font-weight: 700;
    
}
.manual {
    background-color: #e4e9ec;
}
button {
   
    width: 23%;
    height: 50px;
    color: #78909c;
}
.white {
    background-color: white;
}
.equal {
    background-color: #ff6567;
}
.fa {
    color: #78909c;
}